[Unit]
Description=When They Cry: blue release frontend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/.nvm/versions/node/v14.17.5/bin/node /root/app/f-blue/server.js

Environment=SERVER_PORT=3000
EnvironmentFile=/root/app/env/.env_blue

[Install]
WantedBy=multi-user.target