[Unit]
Description=When They Cry: blue release
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=java -jar /home/ubuntu/app/prod/blue/wtc-backend-api.jar

Environment=SERVER_PORT=8080
EnvironmentFile=/home/ubuntu/app/env/.env_blue

[Install]
WantedBy=multi-user.target