[Unit]
Description=When They Cry: green release frontend
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=node /root/app/prod/f-green/server.js

Environment=SERVER_PORT=3001
EnvironmentFile=/root/app/env/.env_green

[Install]
WantedBy=multi-user.target