[Unit]
Description=When They Cry: green release
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/app/green/wtc-server

KillMode=process

Environment=SERVER_PORT=8081
EnvironmentFile=/root/app/env/.env_green

[Install]
WantedBy=multi-user.target