[Unit]
Description=When They Cry: green release
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=java -jar /root/app/green/wtc-backend-api.jar

Environment=SERVER_PORT=8081
EnvironmentFile=/root/app/env/.env_green

[Install]
WantedBy=multi-user.target