[Unit]
Description=Github Runner
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=github
ExecStart=/home/github/actions-runner/run.sh

[Install]
WantedBy=multi-user.target