<!doctype html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="<%= manifest['main.css'] %>">
    <title>Главная - Русскоязычный сайт посвящённый творчеству Рюкиси07</title>
</head>

<body>
<div id="application"><%- content %></div>
<script>
    window.cache = <%- JSON.stringify(cache) %>
</script>
<script type="text/javascript" src="<%= manifest['main.js'] %>"></script>
</body>
</html>